@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@keyframes slide {
  100% {
    top: -320px;
  }
}

@keyframes sharingan {
  100% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }
}

@keyframes moveAcross {
  0% {
    left: 0;
    top: 0;
    filter: grayscale(1);
  }

  /*1*/
  33% {
    left: 0;
    top: 0;
    scale: (.7);
    filter: grayscale(1);
  }
  /*2*/
  40%{
    filter: grayscale(0);
    scale: (1);
    left: 40%;
  }
  50%{
    filter: grayscale(0);
    scale: (1);
    left: 40%;
  }
  60%{
    filter: grayscale(0);
    scale: (1);
    scale: (1);
    left: 40%;
  }

  66% {
    filter: grayscale(0);
    scale: (1);
    left: 40%;
  }

  80% {
    filter: grayscale(1);
    scale: (.7);
    left: 70%;
  }
  99% {
    filter: grayscale(1);
    scale: (.7);
    left: 70%;
  }

  100% {
    filter: grayscale(1);
    scale: (.7);
    left: 100%;
  }
}
