@import "../../../sass/styles.scss";

.myprojects {
  width: 100%;
  height: 90vh;
  min-height: 800px;

  &__content {
    width: 100%;
    height: 100%;

    h2 {
      text-align: center;
    }

    &__items {
      width: 100%;
      height: 900px;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
    }

    &__item {
      display: flex;
      width: 100%;
      height: 250px;
      justify-content: space-between;
      margin-bottom: 70px;

      .img-gif {
        width: 50%;
        max-width: 600px;
        height: 100%;
        

        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }

      .text-item {
        width: 40%;
        padding: 10px;
        h3 {
          display: block;
          text-align: center;
          margin: 0px;
        }
      }
    }
  }
}

.repo-source {
  width: 60px;
  margin: 10px auto;

  & img:not(:last-child) {
    margin-right: 20px;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.featured {
  text-align: right;
  font-size: 13px;
}

.description {
  text-align: justify;
  letter-spacing: 2px;
}

.technologies {
  display: flex;
  justify-content: end;

  & p:not(:last-child) {
    display: block;
    font-size: 13px;
    margin-right: 20px;
  }
}
